main {
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: x-large;
  color: var(--text-color-bg-contrast);
}

.login-tab {
  width: 50rem;
}

.login-tab > button {
  grid-row: 1 / 6;
  grid-column: 3;
}
