:root {
  --main-bg-color: #1b0022;

  --color-lighter: #777076;
  --color-light: #82b5b3;
  --color-dark: #343846;
  --color-hover: #386775;
  --color-active: #20504e;

  --text-color-hover: #6aa;
  --text-color-active: #9cc;
  --text-color-light: #10403e;
  --text-color-bg-highlight: var(--color-hover);

  --color-disabled: #666;
  --input-color: #9d9d9d;
  --color-border: #666;
}
