:root {
    --color-lighter: #bfdfc7;
    --color-light: #5dd39e;
    --color-dark: #513b56;
    --color-hover: #525174;
    --color-active: #348aa7;
    --color-disabled: #75a0a5;
    --color-border: var(--color-disabled);
    --main-bg-color: #fff3ea;

    --text-color-hover: white;
    --text-color-active: white;
    --text-color-disabled: #9ba;
    --text-color-bg: var(--color-active);
    --text-color-bg-highlight: #9ec;
  }
