:root {    
    --color-lighter: #f4f1de;
    --text-color-lighter: #45725d;
    --color-light: #f2cc8f;
    --color-dark: #3d405b;
    --color-hover: #81b29a;
    --color-active: #e07a5f;
    --color-border: #ccc;
    --main-bg-color: #120;
    --text-color-bg: #f4f1de;
    --text-color-bg-highlight: #ff8f6e;
  }
