:root {
  --main-bg-color: #ddc;
  
  --color-lighter: #455561;;
  --color-light: #5a464c;
  --color-dark: #404556;
  --color-hover: #313e50;
  --color-active: #53131e;
  
  --text-color-dark: #bba9af;
  --text-color-hover: #bba9af;
  --text-color-active: #b1b1b1;
  --text-color-light: #808183;
  --text-color-lighter: #261931;

  --color-disabled: #555;
  --input-color: #aca9a9;
  --color-border: #666;
}
